body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 174, 255);
    margin: 0;
    margin-top: 0;
}

#navBar {
    height: 3em;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#navBar button{
    color: white;
    background-color: blue;
    padding: 4px;
}

.buttonGap {
    margin-right: 10px;
}

#formContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
}

#iconBar{
    margin-left: 8%;
}

#iconBar img{
    height: 1.3em;
    width: 1.3em;
    margin: .4em;
}

form{
    margin: 1.3em;
}

#formContainer button, input{
    width: 14em;
    padding: .2em;
}

#formContainer button{
    background-color: blue;
    color: white;
}